/* Ensure that the pet grid layout is horizontal */
:root {
  --obtained-pet-bg: linear-gradient(135deg, #492023, #463827);
}

.pet-grid {
    display: flex;
    flex-wrap: wrap; /* Ensure the items wrap properly on smaller screens */
    gap: 10px; /* Space between images */
}

/* Styling for each pet icon container */
.pet-icon {
    width: 40px; /* Set width of the box to 40px */
    height: 40px; /* Set height of the box to 40px */
    background: linear-gradient(135deg, #222222, #333333); /* Diagonal gradient from #222222 to #333333 */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensures the image stays within the rounded box */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the image inside the box */
    transition: background-color 0.3s ease; /* Smooth transition for hover effects */
}

/* Make the images inside the pet-icon boxes 29x29 */
.pet-icon img {
    filter: grayscale(100%); /* Grey out the image by default */
    display: block;
    transition: filter 0.3s ease; /* Smooth transition for the grayscale effect */
}

/* Hover effect to remove the grey background and show the image in its normal color */
.pet-icon:hover {
    background-color: #f5f5f5; /* Lighter grey background when hovered */
}

.pet-icon:hover img {
    filter: grayscale(0%); /* Remove the grayscale effect when hovered */
}

.detailed-pet-image {
    max-height: 38px;
    max-width: 33px;
    -webkit-filter: drop-shadow(0.0px 0.0px 0 black)
                    drop-shadow(-0.0px 0.0px 0 black)
                    drop-shadow(0.0px -0.0px 0 black)
                    drop-shadow(-0.0px -0.0px 0 black);
}

/* Style the pet grid typography */
.pet-grid > .MuiTypography-root {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styling for the pet container */
.pet-container {
    display: flex;
    justify-content: space-around;
    background-color: #0f0f0f; /* Dark background color */
    border-radius: 8px; /* Slightly rounded edges */
    border: 1px solid #53575f; /* 1px border with #53575f color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight drop shadow */
    padding: 2em; /* Optional: Add some padding inside the container */
    gap: 1em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.leaderboard-container {
    width: auto;
}

/* Styling for obtained pet icon container */
.obtained-pet-icon {
    width: 40px; /* Set width of the box to 40px */
    height: 40px; /* Set height of the box to 40px */
    background: var(--obtained-pet-bg);
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensures the image stays within the rounded box */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the image inside the box */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

/* Make the images inside the obtained pet-icon boxes 29x29 */
.obtained-pet-icon img {
    display: block;
    transition: filter 0.3s ease; /* Smooth transition for the grayscale effect */
}

/* Hover effect to add a slight white spotlight in the center */
.obtained-pet-icon:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6); /* Slight white spotlight effect */
}

.space-divider {
    margin-left: 13px !important;
    margin-right: 1px !important;
    width: 100%;
    height: 1px;
    background-color: #2b2f30; /* Color of the line */
    margin: 1em 0;
}

.pet-category-title {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.banner-box {
    height: 300px;
    width: '1168px !important';
    background-color: '#141316';
    margin-left: -16px;
    background-image: linear-gradient(to top, #141316, rgba(24, 24, 24, 0)), url(../resources/background/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    transition: 500ms,
}

.setting-button {
    background-color: #242328 !important;
}

.MuiCheckbox-root {
    color: #242328; /* Unchecked color */
}

.MuiCheckbox-root.Mui-checked {
    color: orange; /* Checked color */
}

.MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: orange; /* Indeterminate color */
}

charIcon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: translateZ(0);
}