.sidenav {
    background: #012a5b;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 16.5625rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
    border-color: #171719;
  }
  .sidenav-collapsed {
    width: 5rem;
  }
  .sidenav .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
  }
  .sidenav .logo-container .logo {
    background: #fff;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
  }
  .sidenav .logo-container .logo-text {
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
  .sidenav .logo-container .btn-close {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  .sidenav .logo-container .btn-close .fa-times {
    color: #fff;
    font-size: 24px;
  }
  
  .sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
  }
  .sidenav-nav .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
  }
  .sidenav-nav .sidenav-nav-item .sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: red;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
  }
  .sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    text-align: center;
    padding: 12px;
  }
  .sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
    margin-left: 1.5rem;
  }
  
  .active {
    border-color: orange;
    box-shadow: 0 0 15px orange;
    text-decoration: none;
    color: orange;
    background-color: transparent;
  }
  .nav-space-divider {
    height: 1px;
    background-color: #2b2f30; /* Color of the line */
    margin: 1em 0;
  }
  .menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .menu-box:hover {
    border-color: orange;
    box-shadow: 0 0 15px orange;
  }
  
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* To align icon and text vertically */
    text-decoration: none;
    color: #fff;
  }
  
  .menu-item:hover {
    color: orange; 
  }
  
  .menu-item .MuiSvgIcon-root {
    font-size: 29px;
    color: #fff;
  }
  
  .menu-box:hover .MuiSvgIcon-root {
    color: orange;
  }

  .menu {
    display: flex;
    justify-content: center;
    margin-right: 2px;
  }